* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a4b3b9;
  }
  
  a {
    text-decoration: none;
    user-select: none;
    cursor: pointer;
  }
  
  /*MENU*/
  
  .menu {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #22577a;
  }
  .menu a {
    font-size: 25px;
    color: black;
    background-color: #57cc99;
    padding: 8px;
    border-radius: 25px;
    z-index: 1;
  }
  .menu a:hover {
    background: #00ff91;
    transition: background 1s;
  }