/* Page Recarga */
.pageRecarga {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 38.5em;
  align-items: center;
}
.containerUtilizarBilhete {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 65%;
}
.containerUtilizarBilhete h1{
  font-size: 28px;
}

.divUtilizarBilhete {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.divUtilizarBilhete h3 {
  font-size: 23px;
  color: var(--colorTitulos);
}
#campoBilheteRecarga {
  font-size: 25px;
  border: 2.2px solid;
  padding: 20px;
  background-color: var(--colorButton);
  border-radius: 5px;
  height: 40px;
  width: 250px;
}

.divTodasRecargas{
  height: 85%;
  display: flex;
  justify-content: center;
}

.divTiposRecargas{
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.divTiposRecargas2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btnRecarga{
  background-color: var(--elementoCentral);
  width: 480px;
  height: 190px;
  border-radius: 20px;
  border: none;
  padding: 20px;
}
.tituloBilhete{
  background-color: var(--elementoCentral);
  color: var(--colorTextInElemCentral);
}
.textoBilhete{
  background-color: var(--elementoCentral);
  color: var(--colorTextInElemCentral);
  font-size: 18px;
}

.tituloBilhete:hover,
.textoBilhete:hover,
.btnRecarga:hover{
  background-color: var(--elementoCentralHover);
  transition: background 1s;
}

#popupRecarga{
  display: none;
  position: absolute;
  top: 40%;
  left: 32%;
  background-color: var(--elementoCentral);
  padding: 60px;
  border-radius: 20px;
}
#popupRecarga h3{
  background-color: var(--elementoCentral);
  color: var(--colorTextInElemCentral);
}
#popupRecarga button{
  background-color: var(--elementoCentral);
  color: var(--colorTextInElemCentral);
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}
#popupRecarga a{
  background-color: var(--colorButton);
  color: var(--colorTextInButton);
  padding: 12px;
  border-radius: 10px;
  position: absolute;
  top: 90px;
  left: 60%;
}