/* Page Recarga */
.pageRecarga {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 33.5em;
}
.containerUtilizarBilhete {
  display: flex;
  justify-content: center;
}
.divUtilizarBilhete {
  display: flex;
  width: 62%;
  justify-content: space-evenly;
  align-items: center;
}
.divUtilizarBilhete h3 {
  font-size: 22px;
}
#campoBilheteRecarga {
  font-size: 25px;
  border: 2.2px solid;
  padding: 20px;
  background-color: #02a879;
  border-radius: 5px;
  height: 40px;
  width: 250px;
}

.divTodasRecargas{
  height: 85%;
  display: flex;
  justify-content: center;
}

.divTiposRecargas{
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.divTiposRecargas2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btnRecarga{
  background-color: #4e8391;
  width: 480px;
  height: 190px;
  border-radius: 20px;
  border: none;
  padding: 20px;
}
.tituloBilhete{
  background-color: #4e8391;
}
.textoBilhete{
  background-color: #4e8391;
  color: #000;
  font-size: 18px;
}

.tituloBilhete:hover,
.textoBilhete:hover,
.btnRecarga:hover{
  background-color: #345861;
  transition: background 1s;
}

#popupRecarga{
  display: none;
  position: absolute;
  top: 40%;
  left: 35%;
  background-color: #258198;
  padding: 50px;
  border-radius: 20px;
}
#popupRecarga h3{
  background-color: #258198;
}
#popupRecarga button{
  background-color: #258198;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}