/* Page Relatório */
.pageRelatorio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35em;
}

.containerUtilizarBilhete {
  display: flex;
  justify-content: center;
}
.divUtilizarBilhete {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.divUtilizarBilhete h3 {
  font-size: 22px;
}

#campoBilhete {
  font-size: 25px;
  border: 2.2px solid;
  padding: 20px;
  background-color: #57cc99;
  border-radius: 5px;
  height: 40px;
  width: 250px;
}

#btnConsultarBilhete {
  cursor: pointer;
  color: black;
  background-color: #57cc99;
  border-radius: 10px;
  padding: 10px;
  border: none;
  height: 44px;
}
#btnConsultarBilhete:hover {
  background: #00ff91;
  transition: background 1s;
}

.divRelatorio{
    height: 85%;
    background-color: black;
}
