/* Page Utilizar Bilhete */
.pageUtilizacao{
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  height: 33.5em;
}

.containerUtilizarBilhete{
  display: flex;
  justify-content: center;
}
.divUtilizarBilhete {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}
.divUtilizarBilhete h3 {
  font-size: 22px;
}

#campoBilhete {
  font-size: 25px;
  border: 2.2px solid;
  padding: 20px;
  background-color: #02a879;
  border-radius: 5px;
  height: 40px;
  width: 250px;
}

#btnConsultarBilhete {
  cursor: pointer;
  color: black;
  background-color: #02a879;
  border-radius: 10px;
  padding: 10px;
  border: none;
  height: 44px;
}
#btnConsultarBilhete:hover {
  background: rgb(130, 245, 213);
  transition: background 1s;
}

.divTodosBilhetes {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  height: 85%;
}

.divBilhetes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  justify-content: space-evenly;
}
#ulBilhetesDisponiveis,
#ulBilhetesAtivos{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 20em;
}

.btnBilhetes{
  background-color: #4e8391;
  color: #000;
  font-size: 18px;
  padding: 22px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.btnBilhetes:hover{
  background-color: #345861;
  transition: background 1s;
}