/* Page Utilizar Bilhete */
.pageUtilizacao{
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  height: 38.5em;
}

.containerUtilizarBilhete{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 20%;
}
.containerUtilizarBilhete h1{
  font-size: 28px;
}

.divUtilizarBilhete {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}
.divUtilizarBilhete h3 {
  font-size: 25px;
  color: var(--colorTitulos);
}

#campoBilhete {
  font-size: 25px;
  border: 2.2px solid;
  padding: 20px;
  background-color: var(--colorButton);
  border-radius: 5px;
  height: 49px;
  width: 250px;
}

#btnConsultarBilhete {
  cursor: pointer;
  color: var(--colorTextInButton);
  background-color: var(--colorButton);
  border-radius: 10px;
  padding: 10px;
  border: none;
  height: 49px;
}
#btnConsultarBilhete:hover {
  background: var(--colorBtnHover);
  transition: background 1s;
}

.divTodosBilhetes {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  height: 85%;
}

.divBilhetes {
  color: var(--colorTitulos);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#ulBilhetesDisponiveis,
#ulBilhetesAtivos{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 20em;
}

.btnBilhetes{
  background-color: var(--elementoCentral);
  color: var(--colorTextInElemCentral);
  font-size: 18px;
  padding: 22px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.btnBilhetes:hover{
  background-color: var(--elementoCentralHover);
  transition: background 1s;
}

#popupUtilizacao{
  position: absolute;
  display: none;
  top: 45%;
  left: 25%;
  background-color: var(--colorPopup);
  padding: 25px;
  border-radius: 20px;
}
#popupUtilizacao button{
  background-color: var(--colorPopup);
  position: absolute;
  border: none;
  right: 10px;
  top: 5px;
  font-size: 18px;
}
#popupUtilizacao h2{
  background-color: var(--colorPopup);
}