* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #a4b3b9;
}

a {
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

/*MENU*/
.topBox {
  width: 100%;
  background-color: #22577a;
  height: 55px;
  position: absolute;
  top: 0;
  z-index: 0;
}

a {
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.menu a {
  font-size: 25px;
  color: black;
  background-color: #57cc99;
  padding: 8px;
  border-radius: 25px;
  z-index: 1;
}
.menu a:hover {
  background: #00ff91;
  transition: background 1s;
}

/* Page gerar bilhete */
.textoAceite {
  color: black;
  text-align: justify;
  position: absolute;
  background-color: #abd2fa;
  padding: 40px;
  border-radius: 10px;
  top: 35%;
  right: 20%;
  left: 20%;
}

#btnGerarBilhete {
  cursor: pointer;
  color: black;
  background-color: #57cc99;
  border-radius: 10px;
  padding: 30px;
  border: none;
  bottom: 60px;
  right: 60px;
  position: absolute;
}
#btnGerarBilhete:hover {
  background: #00ff91;
  transition: background 1s;
}
.idGerado {
  position: absolute;
  top: 75%;
  left: 45.7%;
  background-color: #abd2fa;
  padding: 40px;
  border-radius: 10px;
}

/* Page Recarga */
.divIdRecarga {
  position: absolute;
  top: 70px;
  left: 32%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#campoBilheteRecarga {
  font-size: larger;
  border: 2.2px solid;
  padding: 10px;
  background-color: #57cc99;
  border-radius: 5px;
  height: 40px;
  position: absolute;
  left: 150px;
}

.containerRecarga {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  width: 100%;
  position: absolute;
  top: 16.5%;
}

.divRecarga {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textoBilhete {
  background-color: #abd2fa;
  padding: 18px;
  border-radius: 20px;
  width: 950px;
}

.btnRecarga {
  cursor: pointer;
  color: black;
  background-color: #57cc99;
  border-radius: 10px;
  padding: 25px;
  border: none;
}
.btnRecarga:hover {
  background: #00ff91;
  transition: background 1s;
}

#tituloBilUnico {
  position: absolute;
  left: 3%;
  top: 4%;
}
#tituloBilDuplo {
  position: absolute;
  left: 3%;
  top: 24%;
}
#tituloBil7Dias {
  position: absolute;
  left: 3%;
  top: 48%;
}
#tituloBil30Dias {
  position: absolute;
  left: 3%;
  top: 70%;
}

#popupRecarga {
  position: absolute;
  top: 40%;
  left: 35%;
  background-color: #57cc99;
  padding: 50px;
  border-radius: 40px;
  display: none;
}
#h3PopupRecarga {
  background-color: #57cc99;
}
#btnPopupRecarga {
  background-color: #57cc99;
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Page Utilizar Bilhete */
.divUtilizarBilhete {
  display: flex;
  width: 100%;
  align-items: baseline;
}

#campoBilhete {
  font-size: 25px;
  border: 2.2px solid;
  padding: 20px;
  background-color: #57cc99;
  border-radius: 5px;
  height: 70px;
}
#tituloUtilizarBilhete {
  font-size: 25px;
}
#btnUtilizarBilhete {
  cursor: pointer;
  color: black;
  background-color: #57cc99;
  border-radius: 10px;
  padding: 20px;
  border: none;
  height: 70px;
}
#btnUtilizarBilhete:hover {
  background: #00ff91;
  transition: background 1s;
}

.divTodosBilhetes {
  display: none;
  justify-content: space-around;
  width: 100%;
  font-size: 20px;
}

.divBilhetesAtivos {
  display: flex;
}

.divBilhetesAtivos button {
  display: none;
}
